body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.nav, .menu, .menu-x {
    display: none;
}
.home-background {
    position: fixed;
    z-index: 1;
    width: 100%;
    object-fit: cover;
}
.blur-overlay {
    right: 0;
    top: 40px;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 770px;
    height: 75px;    
    backdrop-filter: blur(95px); /* Apply a blur to the overlay */
}
.main-menu {
    font-family: Roboto;
    font-size: 13px;
    color: white;
}
.href {
    text-decoration: none;
    color: white;
}
.numbers {
    font-family: Roboto;
    font-size: 13px;
    color: white;
    font-weight: 900;
}
.home, .destination, .crew, .technology {
    margin-left: 10px;
    margin-right: 55px;
    cursor: pointer;
    padding: 30px 0px 28px 0px;
    border: 2px solid transparent;
    transition: 0.8s;
}
.destination {
    border-bottom: 2px solid white;
}
.home:hover, .destination:hover, .crew:hover, .technology:hover {
    opacity: 0.5;
}
.left-top-side {
    top: 50px;
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo {    
    margin-left: 55px;
}
.straight-line {
    width: 455px;
    height: 0.5px;
    background-color: rgb(110, 109, 109);
    margin-left: 60px;
}
.main-destination {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 160px;
    margin-top: 40px;
}
.moon-image-main {
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: -80px;
}
.moon-image {
    width: 325px;  
}
.first-part {
    display: flex;
    flex-direction: column;
}
.space-between {
    width: 150px;
}
.container-1 {
    display: flex;
    flex-direction: column;    
    margin-top: 85px;    
}
.destination-names {
    display: flex;
    flex-direction: row;   
    margin-right: 55px;
    cursor: pointer;
    padding: 30px 0px 28px 0px;
    border: 2px solid transparent;
    transition: 0.8s;
    color: aliceblue;
    font-size: 13px;
}
.moon, .mars, .europa, .titan {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 100;
    color: white;
    margin-right: 6px;
    margin-left: 28px;
    cursor: pointer;  
    border: 2px solid transparent;
    transition: 0.8s;
    padding-bottom: 5px;
}
.is-toggle {
    border-bottom: 2px solid white;
}
.count {
    color: gray;
    margin-right: 7px;
    font-weight: bold;
}
.pick {
    font-family: Roboto Condensed;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 1.5; 
    color: white;
    margin-left: 20px;
    margin-bottom: 70px;
}
.planet-main {
    font-family: Quattrocento;
    font-weight: 100;
    font-size: 60px;
    color: white;
    margin-top: 13px;
    margin-left: 34px;
}
.description {
    font-family: Roboto Condensed;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 390px;
    color: white;
    margin-left: 28px; 
    margin-top: 20px;
}
.straight-line-2 {
    width: 380px;
    height: 0.2px;
    background-color: rgb(121, 121, 121);
    margin-left: 28px;
    margin-top: 30px;
}
.container-2 {
    display: flex;
    flex-direction: row;
}
.distance-time {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.sep-div {
    width: 35px;
}
.avg, .est {
    font-family: Roboto Condensed;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: white;
    margin-left: 28px;
    margin-top: 25px;
}
.distance, .time{
    font-family: Quattrocento;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 1.5; 
    color: white;
    margin-left: 28px;
}
@media (max-width: 1338px) {
    .straight-line {
        width: 0px;
    }
}
@media (min-width: 650px) and (max-width: 1024px) {
    .nav, .menu, .menu-x {
        display: none;
    }
    .image-container {
        position: relative;
        width: 100%;
        height: 1100px;
        overflow: hidden;
    }
    .home-background {
        content: url('destination/background-destination-tablet.jpg');
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .blur-overlay {
        right: 0;
        top: 0;
        position: absolute;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 550px;
        height: 100px;    
        backdrop-filter: blur(95px);
    }
    .left-top-side {
        position: absolute;
        top: 25px;
        left: -25px;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .straight-line {
        width: 1px;
        height: 0.5px;
        background-color: transparent;
        margin-left: 60px;
    }
    .home, .destination, .crew, .technology {
        margin-left: 10px;
        margin-right: 35px;
        color: rgb(177, 174, 174);
        cursor: pointer;
        padding: 40px 0px 40px 0px;
        border: 2px solid transparent;
        transition: 0.8s;
    }
    .destination {
        border-bottom: 2px solid white;
    }
    .main-destination {
        position: absolute; 
        top: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0%;       
    }
    .moon-image-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .first-part {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
        top: 150px;
        margin-top: 100px;
    }
    .destination-names {
        display: flex;
        flex-direction: row;  
        justify-content: center; 
        margin-right: 0px;
        cursor: pointer;
        padding: 30px 0px 28px 0px;
        border: 2px solid transparent;
        transition: 0.8s;
        color: aliceblue;
        font-size: 13px;
        margin-top: 20px;
    }
    .planet-main {
        margin-top: 10px;
        margin-left: 0px;
    }
    .description {
        margin-left: 0px; 
        margin-top: 30px;
        width: 550px;
        text-align: center;
    }
    .straight-line-2 {
        margin-top: 45px;
        margin-left: 0px;
    }
    .container-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
    }
    .sep-div {
        width: 0px;
    }
    .avg, .est {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .avg, .distance {
        margin-left: 0px;
    }
    .distance-time-10 {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: last baseline;
    }
    
}

@media (min-width: 0px) and (max-width: 649px) {
    .nav {  
        position: absolute;
        z-index: 12;
        right: 0;
        width: 61%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .blur-overlay {
        display: none;
    }
    .image-container {
        position: relative;
        width: 100%;
        height: 1100px;
        overflow: hidden;
    }
    .home-background {
        content: url('destination/background-destination-mobile.jpg');
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .left-top-side {
        position: absolute;
        top: 25px;
        left: -25px;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .main-destination {
        position: absolute; 
        top: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0%;       
    }
    .first-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0px;
    }
    .pick {
        margin-left: 0px;
    }
    .moon-image-main {
        justify-content: center;
    }
    .destination-names {       
        display: flex;
        flex-direction: row;  
        justify-content: center; 
        vertical-align: middle;
        margin-right: 0px;
        cursor: pointer;
        padding: 30px 0px 28px 0px;
        border: 2px solid transparent;
        transition: 0.8s;
        color: aliceblue;
        font-size: 13px;
        margin-top: 20px; 
    }
    .moon, .mars, .europa, .titan {
        margin-right: 12px;
        margin-left: 12px;
        padding: 12px 5px 5px 5px;
    }
    .planet-main {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        justify-content: center;
    }
    .description {
        margin-left: 0px;
        justify-content: center;
        width: 390px;
        text-align: center;
    }
    .straight-line-2 {
        display: none;
    }
    .container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
    }
    .distance-time {
        margin-left: 0px;
        width: 100%;
        justify-content: center;
    }
    .avg, .distance {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .avg {
        font-size: 13px;
    }
    .distance {
        font-size: 25px;
    }
    .est, .time {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .est {
        font-size: 13px;
    }
    .time {
        font-size: 25px;
    }

    .hamburger {
        position: absolute;
        z-index: 12;
        right: 40px;
        width: 40px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        top: 35px;
    } 
    .line { 
        border-radius: 10px;
        width: 40px;
        height: 4px;
        background-color: #fff; /* Color of the lines */
    }
    .hamburger-toggle {
        display: none;
    }
    .nav-toggle {
        display: block;
        position: absolute;
        z-index: 11;
        right: 0;
        width: 50%;
        height: 181%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(95px);
    }
    .menu-x-toggle {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        width: 89%;
        height: 58px;
        cursor: pointer;
        top: 35px;
    }
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 100%;
        height: 40%;
        color: white;
    }
    .ho, .des, .cr, .tech {
        margin-left: 10px;
        margin-top: 50px;      
    }
    .hoa, .desa, .cra, .techa {
        font-family: Roboto;
        font-size: 16px;   
        color: white;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid transparent;
        transition: 0.8s;
    }
    .hoa:hover, .desa:hover, .cra:hover, .techa:hover {
        opacity: 0.5;
    }
    .desa {
        border-bottom: 2px solid white;
        }
}