body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.nav, .menu, .menu-x{
    display: none;
}
.home-background {
    position: fixed;
    z-index: 1;
    width: 100%;
    object-fit: cover;
}
.blur-overlay {
    right: 0;
    top: 40px;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 770px;
    height: 75px;    
    backdrop-filter: blur(95px); /* Apply a blur to the overlay */
}
.main-menu {
    font-family: Roboto;
    font-size: 13px;
    color: white;
}
.href {
    text-decoration: none;
    color: white;
}
.numbers {
    font-family: Roboto;
    font-size: 13px;
    color: white;
    font-weight: 900;
}
.home, .destination, .crew, .technology {
    margin-left: 10px;
    margin-right: 55px;
    cursor: pointer;
    padding: 30px 0px 28px 0px;
    border: 2px solid transparent;
    transition: 0.8s;
}
.technology {
    color: white;
    border-bottom: 2px solid white;
    text-decoration: none;
}
.home:hover, .destination:hover, .crew:hover, .technology:hover {
    opacity: 0.5;
}
.left-top-side {
    top: 50px;
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo {    
    margin-left: 55px;
}
.straight-line {
    width: 455px;
    height: 0.5px;
    background-color: rgb(110, 109, 109);
    margin-left: 60px;
}
.main-destination {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 160px;
    margin-top: 180px;
}
.container-1 {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.left-part {
    order: 1;
    display: flex;
    flex-direction: row;
    width: 51%;
}
.first-part {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.count {
    color: gray;
    margin-right: 7px;
    font-weight: bold;
}
.pick {
    font-family: Roboto Condensed;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 1.5; 
    color: white;  
    margin-bottom: 70px;
}
.first-button, .second-button, .third-button {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    cursor: pointer;
}
.add-button {
    display: flex;
    flex-direction: column;
}
.spaceBetween {
    width: 75px;
}
.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 250px;
}
.sentence-1 {
    font-family: Quattrocento;
    font-size: 15px;
    color: rgb(189, 189, 189);
    margin-bottom: -10px;
}
.sentence-2 {
    font-family: Quattrocento;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}
.sentence-3 {
    font-family: Roboto Condensed;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
    width: 387px;
    color: white;
}
.right-part {
    order: 2;
    display: flex;
    justify-content: left;
    width: 500px;
    height: 100%;
    margin-top: -70px;
}
.img {
    margin-left: 20px;
    margin-right: -10px;
    width: 660px;
    height: 430px;
       
}
.is-toggle {
    background-color: white;
    color: black;
}
@media (max-width: 1338px) {
    .straight-line {
        width: 0px;
    }
}
@media (min-width: 650px) and (max-width: 1024px) {
    .nav, .menu, .menu-x {
        display: none;
    }
    body {
        margin: 0;
        padding: 0;
    }
    
    .image-container {
        position: relative;
        width: 100%;
        height: 1099px;
        overflow: hidden;
    }
    .home-background {
        content: url('technology/background-technology-tablet.jpg');
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .blur-overlay {
        right: 0;
        top: 0;
        position: absolute;
        z-index: 3;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 550px;
        height: 100px;        
        backdrop-filter: blur(95px);
    }
    .home, .destination, .crew, .technology {
        margin-left: 10px;
        margin-right: 35px;
        color: rgb(177, 174, 174);
        cursor: pointer;
        padding: 40px 0px 40px 0px;
        border: 2px solid transparent;
        transition: 0.8s;
    }
    .technology {
        color: white;
        border-bottom: 2px solid white;
        text-decoration: none;
    }
    .left-top-side {
        position: absolute;
        top: 25px;
        left: -25px;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .main-destination {
        position:absolute; 
        top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0px;
        margin-left: 0px;
    }
    .first-part {
        margin-left: 20px;
    }
    .container-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .left-part {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -50px;
    }
    .right-part {
        order: 1;
        position: relative;
        width: 100%;
        height: 55%;
        overflow: hidden;
    }
    .add-button {
        display: flex;
        flex-direction: row;
    }
    .img {
        margin-top: 20px;
        width: 100%;
        height: 409px;
        object-fit: contain;
        margin-left: 0px;
    }
    .sentence-1, .sentence-2, .sentence-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .first-button, .second-button, .third-button {
        margin-top: 60px;
        margin-right: 15px;
    }
    .bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        width: 54%;
    }
    .sentence-2 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .sentence-3 {
        width: 100%;
        text-align: center;
    }
}


@media (min-width: 0px) and (max-width: 649px) {
    .nav {
        position: absolute;
        z-index: 12;
        right: 0;
        width: 61%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }
    .blur-overlay {
        display: none;
    }
    .image-container {
        position: relative;
        width: 100%;
        height: 1100px;
        overflow: hidden;
    }
    .home-background {
        content: url('technology/background-technology-mobile.jpg');
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .left-top-side {
        position: absolute;
        top: 25px;
        left: -25px;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .main-destination {
        position:absolute; 
        top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0px;
        right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .first-part {
        margin-left: 0px;
        width: 100%;
    }
    .pick {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .container-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .left-part {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -20px;
    }
    .right-part {
        order: 1;
        position: relative;
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
    .img {
        width: 100%;
        height: 480px;
        object-fit: contain;
        margin-left: 0px;
    }
    .add-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    .sentence-1, .sentence-2, .sentence-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .first-button, .second-button, .third-button {
        margin-right: 15px;
    }
    .bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
        width: 80%;
    }
    .sentence-2 {
        font-size: 35px;
        margin-bottom: 40px;
    }
    .sentence-3 {
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }


    .hamburger {
        position: absolute;
        z-index: 12;
        right: 40px;
        width: 40px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        top: 35px;
    } 
    .line { 
        border-radius: 10px;
        width: 40px;
        height: 4px;
        background-color: #fff; /* Color of the lines */
    }
    .hamburger-toggle {
        display: none;
    }
    .nav-toggle {
        display: block;
        position: absolute;
        z-index: 11;
        right: 0;
        width: 50%;
        height: 181%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(95px);
    }
    .menu-x-toggle {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        width: 89%;
        height: 58px;
        cursor: pointer;
        top: 35px;
    }
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 100%;
        height: 40%;
        color: white;
    }
    .ho, .des, .cr, .tech {
        margin-left: 10px;
        margin-top: 50px;      
    }
    .hoa, .desa, .cra, .techa {
        font-family: Roboto;
        font-size: 16px;   
        color: white;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid transparent;
        transition: 0.8s;
    }
    .hoa:hover, .desa:hover, .cra:hover, .techa:hover {
        opacity: 0.5;
    }
    .techa {
        border-bottom: 2px solid white;
        }
}